<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="23" id="com.eurven.greenpoints" ios-CFBundleVersion="23" version="1.2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">&gt;
        <name>Mangiaplastica</name>
    <description>
        Il borsellino elettronico di Eurven.
    </description>
    <author email="developer@eurven.it" href="https://www.eurven.com">
        Eurven Dev Team
    </author>
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="ios">
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="167" src="res/icon/ios/icon-167.png" width="167" />
        <icon height="167" src="res/icon/ios/icon-83.5@2x.png" width="167" />
        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~comany.png" />
    </platform>
    <platform name="android">

        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="SplashMaintainAspectRatio" value="false"/>
        <preference name="SplashShowOnlyFirstTime" value="true"/>
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-xxxhdpi.png"/>
        <preference name="AndroidGradlePluginVersion" value="8.7.0" />
        <hook src="scripts/fix-barcodescanner-gradle.js" type="after_prepare" />

        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
    </platform>
    <plugin name="cordova-plugin-screen-orientation" spec="~3.0.2" />
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="~5.0.4">
        <variable name="GOOGLE_API_KEY_FOR_ANDROID" value="AIzaSyDdPAeD-8BY3o7ZqN-GnKazsTVqTmEKJ2w" />
        <variable name="OKHTTP_VERSION" value="3.12.0" />
    </plugin>
    <platform name="browser">
        <hook src="scripts/browser_fix.js" type="before_prepare" />
    </platform>
    <platform name="ios">
        <!-- cordova-ios 7 usa WKWebView nativamente (schema app://localhost):
             niente plugin/preference CDVWKWebViewEngine. -->
        <edit-config file="*-Info.plist" mode="merge" platform="ios" target="NSCameraUsageDescription">
            <string>Per eseguire la scansione di codici a barre su tessera.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" platform="ios" target="NSLocationWhenInUseUsageDescription">
            <string>Per indentificare le nostre macchine in prossimità della tua posizione.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" platform="ios" target="NSLocationAlwaysAndWhenInUseUsageDescription">
        <string>Per indentificare le nostre macchine in prossimità della tua posizione.</string>
    </edit-config>
    </platform>
</widget>
